node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.nitro
.tanstack
.wrangler
.output
.vinxi
Dockerfile
.dockerignore
.git
.gitignore
pnpm-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log
README.md
